<h1>Doctors</h1>

<%= link_to 'Create New Doctor', new_doctor_path %>

 <% @doctors.each do |doctor| %>
 <h2> <%= doctor.full_name %>  </h2>
 <%= link_to 'Edit Doctor', edit_doctor_path(doctor)%>
 <%= link_to 'Delete Doctor', doctor, method: :delete %>
 <% end %>